include ../layout

block style
    link(rel="stylesheet" href="/task/addTask.css")
block titile 
    title #{pageTitle}
block body 
    .body-wrapper.bg-dark-bg.text-white.py-4
        h1(class="text-2xl  pb-2") Add Your New Task Here
        != messages()
        form(action="/task/addTask" method="post" class="text-black" name="newTaskForm") 
            div(class="mb-1")
                input(type="text" name="title" placeholder="Title" class="w-[100%] py-1 px-4 focus:outline-none")
                span(id="titleError" class="text-sm text-white bg-error px-1 error") 
            div(class="mb-1")
                textarea(name="description" rows="4" placeholder="Description of your task" class="w-[100%] resize-none py-1 px-4 focus:outline-none")
                span(id="descriptionError" class="text-sm text-white bg-error px-1 error") 
            div(class="mb-4")
                input(type="text" name="tag" class="w-[80%] py-1 px-4 focus:outline-none" placeholder="Tags")
                button(class="w-[20%] py-1 bg-blue-600 hover:bg-blue-800 text-white" id="addMoreTagsBtn") Add
                div(class="list-of-tags pt-1 flex")
            div(class="mb-4 text-white flex justify-between")
                div(class="w-[50%]")
                    label(for="dueDate") Due Date : 
                    input(type="date" name="dueDate" class="text-black py-1 px-2 focus:outline-none")
                div(class="w-[50%]")
                    label(for="dueTime") Due Time : 
                    input(type="time" name="dueTime" class="text-black py-1 px-2 focus:outline-none")
                    button(id="todayOnlyBtn" class="px-2 text-sm hover:underline") Today Only
            input(type="submit" value="Submit" class="px-4 py-1 bg-blue-600 hover:bg-blue-800 rounded-lg hover:cursor-pointer text-white") 

    script(src="/task/addTask.js") 